* {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.todo-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.todo-list {
	display: flex;
	width: 80%;
	flex-direction: column;
}

.check-boxes {
	display: flex;
	width: 100%;
	padding: 10px;
}

.check-boxes > * {
	padding: 10px;
}

.buttons {
	width: 100%;
	padding: 10px;
}

.todo-label {
	font-size: medium;
}

.to-do-item {
	font-size: small;
}

.delete-button {
	width: fit-content;
	font-size: large;
	background-color: red;
	color: white;
}

.header {
	padding: 10px;
	font-size: x-large;
	width: 100%;
}

.form-header {
	font-size: large;
	padding: 10px;
}

.input {
	width: fit-content;
	height: 30px;
}

.submit-button {
	width: fit-content;
	font-size: large;
	background-color: green;
	color: white;
	padding: 5px;
}
